.main-timeline{
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline .timeline{
  width: 50%;
  padding: 0 0 40px 30px;
  float: right;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline-content{
  color: #333;
  background: #fff;
  padding: 20px 25px 60px;
  border: 1px solid #fff;
  border-radius: 0 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
  color: #f26430;
  font-size: 30px;
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.main-timeline .timeline-year{
  color: #fff;
  background-color: #f26430;
  font-size: 25px;
  font-weight: 500;
  padding: 60px 25px 1px 50px;
  border-radius: 0 50px;
  position: absolute;
  left: -30px;
  bottom: -40px;
  z-index: -1;
}
.main-timeline .title{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
.main-timeline .description{
  color: #999;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){
  padding: 0 30px 40px 0;
  margin: 0 10px 0 0;
  float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
  padding: 60px 25px 1px 50px;
  left: auto;
  right: -30px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{ color: #f73d3d; }
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ background-color: #f73d3d; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{ color: #25c0ce; }
.main-timeline .timeline:nth-child(4n+3) .timeline-year{ background-color: #25c0ce; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{ color: #4ebf64; }
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ background-color: #4ebf64; }
@media screen and (max-width:767px){
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even){
      width: 100%;
      padding: 0 0 40px 30px;
      margin: 0 0 20px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year{
      right: auto;
      left: -30px;
  }
}
@media screen and (max-width:576px){
  .main-timeline .title{ font-size: 18px; }
}
